* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  html {
    font-size: 62.5%;
  }
  
  body {
    font-family: 'Karla', sans-serif;
    background-color: hsl(204, 43%, 93%);
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .container {
    width: 60rem;
  }
  
  .grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr 1.2fr;
    border-radius: 8px;
    box-shadow: 0 0 50px -14px hsl(0deg 0% 0% / 27%);
    overflow: hidden;
  }
  
  .col-1 {
    grid-column: 1 / -1;
    background-color: #fff;
    padding: 3.2rem 6.4rem 3.2rem 3.2rem;
  }
  
  .col-2 {
    color: #fff;
    background-color: hsl(179, 62%, 43%);
    padding: 4rem;
  }
  
  .col-3 {
    background-color: hsl(179, 47%, 52%);
    color: #fff;
    padding: 4rem;
  }
  
  .col-1 h1 {
    color: hsl(179, 62%, 43%);
    font-size: 2rem;
    margin-bottom: 2rem;
  }
  
  .col-1 h2 {
    color: hsl(71, 73%, 54%);
    font-size: 1.6rem;
    font-weight: bold;
  
  }
  
  .col-1 p {
    color: hsl(218, 22%, 67%);
    font-size: 1.4rem;
    line-height: 1.6;
    margin-top: 0.8rem;
  }
  
  .col-2 h2 {
    font-size: 1.6rem;
    margin-bottom: 1.8rem;
  }
  
  .col-2 p {
    font-size: 1.4rem;
    margin-top: 0.8rem;
    opacity: 80%;
  }
  
  .number {
    font-size: 3rem;
    position: relative;
  }
  
  .month {
    opacity: 45%;
    font-size: 1.4rem;
    margin: 0.8rem 0 0 1.2rem;
    position: absolute;
  }
  
  .btn {
    margin-top: 3.2rem;
    padding: 1.6rem 2rem;
    width: 100%;
    color: #fff;
    background-color: hsl(71, 73%, 54%);
    border-radius: 5px;
    border: none;
    font-weight: bold;
    box-shadow: 0 0 20px -10px rgba(0, 0, 0, 0.5);
    cursor: pointer;
  
    transition: all 0.5s;
  }
  .btn:hover{
    transform: translateY(-5px);
    background-color: #cde55d;
  }
  
  .col-3 h2 {
    font-size: 1.6rem;
    margin-bottom: 1.8rem;
  }
  
  .list {
    font-size: 1.4rem;
    padding: 0 2rem 0 0;
    line-height: 1.4;
    list-style: none;
    opacity: 70%;
  }
  
  
  @media (max-width: 42em) {
    body{
      height: 100%;
    }
    .grid{
      grid-template-columns: 1fr;
      grid-template-rows: auto;
    }
    .container{
      width: 80vw;
      margin: 8rem 0;
    }
  }
  